{% extends 'sadmin/admin_layout.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Edit Category</h1>
            <hr>
            <form action="{% url 'blog:edit_category' category_id=category.id category_url=category.url %}" method="POST">
                    {% csrf_token %}
                <div class="form-group">
                    {{edit_category_form.name.error}}
                    {{edit_category_form.name.label_tag}}
                    {{edit_category_form.name|add_class:"form-control"}}
                </div>
                <div class="form-group">
                    {{edit_category_form.keywords.error}}
                    {{edit_category_form.keywords.label_tag}}
                    {{edit_category_form.keywords | add_class:"form-control"}}
                </div>
                <div class="form-group">
                    {{edit_category_form.description.error}}
                    {{edit_category_form.description.label_tag}}
                    {{edit_category_form.description | add_class:"form-control"}}
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" value="Update" class="btn btn-info">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
