{% extends 'sadmin/admin_layout.html' %}

{% block styles %}
<style>
    h2{
        color: #5BC0DE;
    }
    .action-keys{
        color: #5BC0DE;
        font-size: 14px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container" id="list-heading">
    <h2 class="text-center">Hello {{request.session.display_name}}</h2>
    <h3>Footer Content &nbsp; <a href="{% url 'blog:add_foot' %}" class="btn btn-info">Add New</a></h3>  
    <hr>
</div>

<div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>Author</th>
                <th>Date</th>
                <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for foot in foots %}
                    <tr>
                        <td>
                            {{foot.id}}.
                        </td>
                        <td>
                            <b>{{foot.title}}</b>
                        </td>
                        <td> {{foot.content}}
                            <br>
                            <span class="action-keys">
                                <a href="{% url 'blog:delete_foot' foot_id=foot.id %}">delete</a>
                                |
                                <a href="{% url 'blog:edit_foot' foot_id=foot.id %}">edit</a>
                                |
                                {% if foot.unlisted == 1 %}
                                    <a href="{% url 'blog:publish_foot' foot_id=foot.id %}">publish</a>
                                {% else %}
                                    <a href="{% url 'blog:unpublish_foot' foot_id=foot.id %}">unpublish</a>
                                {% endif %}
                            </span>
                        </td>
                        <td> {{foot.author.display_name}} </td>
                        <td> {{foot.pub_date}} </td>
                        <td> {{foot.last_modified}}</td>
                    </tr>
                </a>
                {% endfor %}
            </tbody>
            </table>
    </div>
{% endblock %}